* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  margin-bottom: 15px;
}

#success-message {
  display: none;
  color: green;
}

#tasks-list {
  list-style-type: none;
  margin-bottom: 15px;
}

#tasks-list li {
  padding: 8px;
  background-color: #f9f9f9;
  margin-bottom: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"] {
  padding: 8px;
  width: 200px;
  margin-right: 10px;
}

#tasks-list li.completed span::after {
  content: '✓';
  color: green;
  font-size: 16px;
  margin-left: 5px;
}

button {
  padding: 6px 10px;  
  background-color: #8baccf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #336895;
}

/* Shopping List Styles */
.main-content {
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 20px;
  margin-bottom: 20px;
}

#shopping-input {
  width: 60%;
  padding: 8px;
  margin-right: 10px;
}

#shopping-list {
  list-style-type: none;
  margin-top: 15px;
}

#shopping-list li {
  padding: 8px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Weather Card */
.weather-card .container{
  height: 350px;
  overflow-x: scroll;
  position: relative;
}

.weather-card .updated{
  font-size: 60%;
}

.weather-card canvas{
  position: absolute;
  left: 0;
  top: 0;
  width: 3000px;
}

#weather-location-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  max-height: 400px;
  overflow-y: auto;
}

#weather-location-list li {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#calendar-events {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  max-height: 330px;
  overflow-y: auto;
}

.calendar-event {
  background-color: #f9f9f9;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-content {
  background-color: #ffffff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 30px;
  border: none;
  width: 60%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}

/* Train Schedule Styles */
.train-card {
  grid-column: 1 / -1;
}

.train-card #train-schedule{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
  overflow-y: scroll;
  height: 300px;
}

.train-card #train-schedule-headers{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  height: 40px;
  padding-right: 15px;
  margin-bottom: 5px;
}

.train-card .direction-table {
  background-color: #e3e3e3;
  border-radius: 4px;
  padding: 10px;
  box-shadow: inset -3px -3px 8px 0px rgba(0, 0, 0, 0.1);
}

.train-card h3 {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.train-card ul {
  list-style-type: none;
  padding: 0;
}

.train-card li {
  font-family: 'Courier New', monospace;
  font-size: 16px;
  margin-bottom: 5px;
}

.train-card th, .train-card td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.train-card th {
  background-color: #f2f2f2;
}
